#bg-IndivStockPage {
  background: #daefff;
  background-size: cover;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  margin-top: 80px;
  opacity: 0.7;
  /* padding-top: 0%; */

  color: black;
}

#container-IndivStockPage {
  background-color: aqua;
  position: relative;

  /* align-items: center; */
  position: center;
  width: 100%;
  min-height: 100%;

  padding-top: 0px;
  padding-left: 60px;
  padding-right: 60px;
}

#stockName {
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
}

#IndivStockPage-msg {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;

  /* text-indent: 5px; */

  margin-left: 0px;
  text-align: left;
  color: black;
  padding-top: 25px;

  text-indent: 15px;
}

#indivStockGraphWrapper {
  background-color: rgb(182, 173, 173);

  width: 100%;
  height: 350px;
  margin-top: 15px;

  align-items: center;
  text-align: center;
}

#IndivStockTableWraper {
  padding-top: 15px;
}

#IndivStockPage-add-button {
  /* background-color: blueviolet; */
  background: transparent;

  border: none;
  border-bottom: 1px solid black;
  border-radius: 0%;

  width: 300px;
  color: black;
  float: right;

  margin-right: 5px;
  align-items: center;
  text-indent: 0%;

  float: right;
}

#IndivStockPage-add-button:hover {
  font-weight: bold;
  border-bottom: 2px solid black;
  width: 300px;
  align-items: center;
}
