#container-mainPage {
  /* background: #DAEFFF;     */
  background-size: cover;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 0px;
  right: 0px;
  top: 80px;

  margin-left: 0;
  margin-right: 0;
}

#container-mainPage-left {
  /* background-color: rgb(138, 138, 214); */
  width: 25%;
  min-height: 1000px;
  float: left;

  padding-top: 40px;
  padding-left: 50px;
  padding-right: 10px;

  align-items: center;
}

#goalProgressBlock-mainPage.group:hover {
  background-color: rgb(206, 225, 238);
  box-shadow: 3px 5px 10px 0 rgba(177, 175, 175, 0.2),
    0 6px 20px 0 rgba(87, 85, 85, 0.19);
}

#daysLeft-mainPage.group:hover {
  background-color: rgb(206, 225, 238);
  box-shadow: 3px 5px 10px 0 rgba(177, 175, 175, 0.2),
    0 6px 20px 0 rgba(87, 85, 85, 0.19);
}

#container-mainPage-right {
  /* background-color: rgb(115, 219, 167); */
  width: 75%;
  min-height: 1000px;
  float: right;

  padding-top: 30px;
  padding-left: 15px;
  padding-right: 40px;

  align-items: center;
}

#welcomeBack-msg {
  font-weight: bold;
  width: 160px;
  align-items: left;
  text-align: left;
  font-size: 20px;
}

#goalProgressBlock-mainPage {
  /* background-color: azure; */
  border-width: 1.5px;
  border-style: solid;
  border-color: transparent;
  border-color: rgb(216, 214, 212);
  /* box-shadow: 3px 5px 10px 0 rgba(177, 175, 175, 0.2), 0 6px 20px 0 rgba(87, 85, 85, 0.19); */

  height: auto;
  width: 80%;
  margin-top: 15px;

  text-align: center;
  position: relative;
  align-items: center;
}

#goalProgress-title {
  font-weight: normal;
  font-style: italic;
  width: 160px;
  text-align: center;
  align-items: center;
  font-size: 17px;

  padding-top: 10px;
  padding-left: 0px;

  margin: auto;
}

#progess-icon {
  width: 40%;
  padding-top: 20px;
  padding: auto;
}

#goalProgress-text {
  font-weight: bold;
  width: 160px;
  text-align: center;
  align-items: center;
  font-size: 21px;

  padding-top: 12px;
  padding-left: 0px;
  padding-bottom: 10px;

  margin: auto;
}

#daysLeft-mainPage {
  /* background-color: azure; */
  border-width: 1.5px;
  border-style: solid;
  border-color: transparent;
  border-color: rgb(216, 214, 212);
  /* box-shadow: 3px 5px 10px 0 rgba(177, 175, 175, 0.2), 0 6px 20px 0 rgba(87, 85, 85, 0.19); */

  height: auto;
  width: 80%;
  margin-top: 20px;

  text-align: center;
  position: relative;
  align-items: center;
}

#daysLeft-title {
  font-weight: normal;
  font-style: italic;
  width: 160px;
  text-align: center;
  align-items: center;
  font-size: 17px;

  padding-top: 10px;
  padding-left: 0px;

  margin: auto;
}

#daysLeft-text {
  font-weight: bold;
  width: 160px;
  text-align: center;
  align-items: center;
  font-size: 21px;

  padding-top: 12px;
  padding-left: 0px;
  padding-bottom: 10px;

  margin: auto;
}
#graph-title{

  font-weight: bold;
  width: 600px;
  text-align: center;
  align-items: center;
  font-size: 30px;

  padding-top: 10px;
  padding-left: 0px;
  padding-bottom: 10px;

  margin: auto;

}
#mainPage-graph {
  /* background-color: rgb(182, 173, 173); */
  /* border-color:transparent;   */
  border-width: 1.5px;
  border-style: solid;
  border-color: transparent;
  border-color: rgb(216, 214, 212);

  width: 100%;
  height: auto;

  align-items: center;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 30px;
}

#mainPage-tableWrapper {
  /* background-color: aqua; */

  width: 100%;
  height: auto;

  /* padding-top: 30px; */
  position: relative;

  text-align: left;
  text-indent: 15px;
  font-family: Roboto;

  margin-top: 30px;
}

#add-new-portfolio-v1-mainPage {
  background: transparent;

  border: none;
  border-bottom: 1px solid black;
  border-radius: 0%;

  width: 150px;
  color: black;
  float: right;

  margin-right: 30px;
  align-items: center;
  text-align: center;
  text-indent: 0%;

  float: right;
}

#add-new-portfolio-v1-mainPage:hover {
  font-weight: bold;
  width: 160px;
  border-bottom: 2px solid black;
  align-items: center;
  text-align: center;
}

#mainPage-msg-1 {
  text-align: left;
  text-indent: 15px;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;

  float: left;
}

#mainPage-msg-2 {
  text-align: left;
  text-indent: 15px;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;

  float: left;
}

#tableWrapperInner-MainPage {
  /* background-color: aquamarine; */

  /* margin-top: 200px; */
  padding-top: 60px;
}
