#container-newPortfolioForm{
    height: 100%;
    background: #DAEFFF;    

    background-size: cover;
    position:absolute; 
    min-width:100%;
    min-height:100%;
    left:0px;
    right:0px;
    top:80px;
    
    /* margin-left: 0px; */
    /* margin-right:0; */
    align-items: center;
 }

 #newPort-msg{
     text-align: center;
     /* padding-left: 50px; */
     padding-top: 100px;

     /* text-align: center; */
     /* text-indent: 60px; */
     font-family: Roboto;
     /* font-style: italic; */
     font-weight: normal;
     font-size: 40px;
 }

 #doneButton-newPort{
    background-color:#7092AD ;
    border:none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius:0 !important;
    text-align: center;
    width: 200px;
    padding: 10px 10px;
    margin: auto;
    margin-top:30px;

    display: block;

    
   
}

#doneButton-newPort:hover{
    background-color: #2d6492;
}





/* #portfolioName>label{

    font-weight: normal;
    font-size: 40px;

} */


#newPortWrapper{
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    width: 50%;
    height: 500px;

    position: relative;

    margin-top: 30px;
    margin-left: 25%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
    /* align-items: center; */
    /* text-align: left; */

}


#newPortFormWrapper{
    /* background-color: aqua; */

    width: 70%;
    height: 60%;

    margin: auto;
    /* padding: auto; */

    padding-top: 10px;

    display: block;

    /* text-align: left; */
    align-items: center;
}



#portfolioName{

    width: 200px;
    border:none;
    border-bottom: 1.5px solid black;
    border-radius: 0;

    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;  

    display: inline-block;
    align-items: center;

 
}



    /* display:block; */
    /* display: inline-flex;
    align-items: flex-start; */
    /* position: absolute; */

    /* margin-left: 0%; */
    /* margin-right: 0%; */
  
    /* align-items:flex-start; */
    /* display:inline-block;


    width: 200px;
    border:none;
    border-bottom: 1.5px solid black;
    border-radius: 0;

    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;  */

    /* margin-block-start: 0px; */
    /* margin-inline-start: 0px; */
    /* margin-inline
    vertical-align:text-bottom; */
    /* margin */

/* 
    padding-left: 26px;
    width: 125px;
    text-transform: uppercase;
    display: inline-block; */






    
/* 
    width: 200px;
    margin: auto;
    border: none;
    border-bottom: 1.5px solid black;
    border-radius: 0;


    /* margin-top: 10px; */
    

    /* text-indent: 0px; */
    /* text-align: left; */
    /* align-items: center;   */



/* #portfolioName label{
    display: inline-block;

    padding-left: 0px;
    width: 125px; */
    /* text-transform: uppercase; */
    




/* #portfolioName label{

    display: inline-block;
    align-items: left;
    align-content: left;

    margin-left: 0;
   

} */


    

    

    /* padding-right: 50; */
    /* border: none;
    border-radius: 0%;
    border-bottom: 1.5px solid black;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    width:35%;
    display:block; */
    /* text-align: left; */
    /* padding: var(--field-padding);
    outline: none; */

    /* align-items: center; */

    /* margin-left: 80px;
    margin-right: 500px;
    padding-left: 10px; */
