#container-WatchList{
    /* background-color: aqua; */

    /* align-items: center; */
    position: center;
    width: 100%;
    min-height: 100%;
    
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;

}

/* .bg-pic {  
    background-image: url(../Images/bg2.png);
    background-size: cover;
    position:absolute; 
    min-width:100%;
    min-height:100%;
    left:0px;
    right:0px;
    top:80px;

 } */

#bg-watchlist {  
    /* background: #DAEFFF;     */
    background-size: cover;
    position:absolute; 
    min-width:100%;
    min-height:100%;
    left:0px;
    right:0px;
    top:0px;
    margin-top: 80px;
    opacity: 0.70;
    /* padding-top: 0%; */

    color:black;
}

#wathlist-add-button{
    background:transparent;
    
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0%;

    width: 260px;
    color:black;
    /* font-style: italic; */
    float: right;
    
   /* text-decoration: underline; */
    margin-right: 30px;
    align-items: center;
    text-indent: 0%;

}

#wathlist-add-button:hover{
    font-weight: bold;
    border-bottom: 2px solid black;
    width: 260px;
    align-items: center;
}

#watchlist-msg{
   
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;

    /* text-indent: 5px; */

    margin-left: 0px;
    text-align: left;
}

#watchlist-searchBar{
    border-radius: 40px;
    border: 1px solid rgb(110, 109, 109);
    color:rgb(141, 141, 141);

    width: 30%;
    height: 33px;

    text-align: left;

    text-indent: 5px;
    margin-top: 20px;
    margin-bottom: 15px;

    margin-left: 10px;
}

/* #watchlistTable{
    margin-top: 20px;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 16px
} */

#watchlistTableWraper{
    /* background-color: aqua; */

    /* border: 1px solid rgb(172, 169, 169); */
    /* height: 500px; */
    position: relative;
    
}

/* #watchlistHeader{
    height: 50px;
    background-color: grey;
    position: absolute;
    margin-top: 0;
} */